<app-header></app-header>
<div class="home-container">
    <section>
        <div class="main-sctn">
            <div class="main-div-sctn">
                <h2>FA<span>RB</span>E</h2>
                <a href="#shop">VER TIENDA</a>
            </div>
        </div>
    </section>

    <section>
        <div class="message-sctn">
            <h2>NUEVOS PRODUCTOS</h2>
            <a href="">COMPRAR</a>
        </div>
    </section>

    <section id="shop">
        <div class="shop-sctn">          
            <div class="shop-container">
                <div class="shop-card">
                    <img src="./assets/img/home/bg2.jpg" alt="item">
                    <a href="" routerLink="/woman">MUJER &#8594;</a>
                </div>
                <div class="shop-card">
                    <img src="./assets/img/home/bg5.jpg" alt="item">
                    <a href="" routerLink="/men">HOMBRE &#8594;</a>
                </div>
                <div class="shop-card">
                    <img src="./assets/img/home/bg4.jpg" alt="item">
                    <a href="" routerLink="/woman">ACCESORIOS &#8594;</a>
                </div>
                <div class="shop-card">
                    <img src="./assets/img/home/bg6.jpg" alt="item">
                    <a href="" routerLink="/men">FRAGANCIAS &#8594;</a>
                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</div>

