<app-header></app-header>
<div class="foryou-container center">
    <section class="info-section infoA center">
        <p>Regístrate para que te conozcamos mejor y te podamos ofrecer una mejor experiencia.</p>
    </section>
    
    <section class="info-section infoB center">
        <h2>Vas a tener a tu disposición:</h2>
        <div class="benefit-options">
            <div class="serv1 center">
                <p>Acceso a colecciones exclusivas oportunidad de participar en diseños</p>
            </div>
            <div class="serv2 center">
                <p>Descuentos y obsequios</p>
            </div>
            <div class="serv3 center">
                <p>Asesoría y atención personalizada</p>
            </div>   
        </div> 
        <h2>Entre muchas otras cosas. Regístrate a continuación.</h2>           
    </section>
    <section class="info-section infoC center">
       <app-client-form submitName="RESGISTRARME"></app-client-form>
    </section>
    <app-footer></app-footer>    
</div>
